# Ignore this : IDE project files
.idea
.pytest_cache
.venv
__pycache__

# Ignore these app specific files
/current_photo.txt
/temp_download/*
!/temp_download/.gitkeep
/photos/*
!/photos/.gitkeep
/.env
